@page "{recipeId:int}"
@model Juicer.Pages.Recipes.DetailsModel
@{
    ViewData["Title"] = Model.RecipeDto.Name;
}


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <a asp-page="./List"><< all recipes</a>
            <h2>@Model.RecipeDto.Name</h2>
            <div>
                <p>
                    @Model.RecipeDto.Description
                </p>
                <div class="container">
                    <div class="d-flex flex-row flex-wrap align-items-center">
                        @foreach(var ingredient in Model.RecipeDto.Ingredients)
                        {
                            <div class="col-md-3 col-4 text-center">
                                <h6>@ingredient.Amount @ingredient.Unit</h6>
                                <a asp-page="../Products/Details" asp-route-productId="@Model.Products.SingleOrDefault(p => p.Name == ingredient.ProductName).Id">
                                    <img src="@Model.Products.SingleOrDefault(p => p.Name == ingredient.ProductName).PhotoPath" class="img-cover img-fluid" />
                                </a>
                                <a class="text-dark" asp-page="../Products/Details" asp-route-productId="@Model.Products.SingleOrDefault(p => p.Name == ingredient.ProductName).Id">
                                    <p>@ingredient.ProductName</p>
                                </a>
                            </div>
                        }
                    </div>
                </div>

                @if (Model.RecipeDto.Instructions.Length > 0)
                {
                    <h6>Instructions:</h6>
                    <ol>
                        @foreach (var instruction in Model.RecipeDto.Instructions)
                        {
                            <li>@instruction</li>
                        }
                    </ol>
                }
                <hr />
                <div class="btn-group-sm">
                    <a class="btn btn-outline-dark" asp-page="./Edit" asp-route-recipeId="@Model.RecipeDto.Id"><i class="far fa-edit"></i> Edit Recipe</a>
                    <a class="btn btn-outline-dark" asp-page="./Image" asp-route-recipeId="@Model.RecipeDto.Id"><i class="far fa-image"></i> Upload Photo</a>
                    <a class="btn btn-outline-dark" asp-page="./Delete" asp-route-recipeId="@Model.RecipeDto.Id"><i class="far fa-trash-alt"></i> Delete</a>
                </div>
                <hr />
            </div>
        </div>
        <div class="col-md-6">
            @if (Model.RecipeDto.PhotoPath != null)
            {
                <img src="@Model.RecipeDto.PhotoPath" class="img-fluid" alt="@Model.RecipeDto.Name" />
            }
        </div>
    </div>
</div>
