@page
@model Juicer.Pages.Products.ListModel
@{
    ViewData["Title"] = "List of products";
}

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}


<h1>Products</h1>
<a asp-page="./Edit" class="btn btn-primary">New Product</a>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <div class="input-group-append">
                <button class="btn btn-lg">
                    <i class="fas fa-search"></i>
                </button>
            </div>

        </div>
    </div>

</form>


<table class="table">
    @foreach (var product in Model.Products)
    {
        <tr>
            <td>@product.Name</td>
            <td>@product.Category</td>
            <td>
                <a class="btn"
                   asp-page="./Details"
                   asp-route-productId="@product.Id">
                    <i class="fas fa-search-plus"></i>
                </a>
                <a class="btn"
                   asp-page="./Edit"
                   asp-route-productId="@product.Id">
                    <i class="far fa-edit"></i>
                </a>
                <a class="btn"
                   asp-page="./Delete"
                   asp-route-productId="@product.Id">
                    <i class="far fa-trash-alt"></i>
                </a>
            </td>

        </tr>
    }
</table>

