@page
@model Juicer.Pages.Products.ListModel
@{
    ViewData["Title"] = "List of products";
}

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}


<div class="container">

    <h1 class="text-center display-4">Products</h1>

    <form method="get">
        <div class="btn-toolbar justify-content-between">
            <div class="btn-group">
                <a asp-page="./Edit" class="btn btn-primary">New</a>
            </div>
            <div class="input-group">
                <input type="search" class="form-control" placeholder="Search:" asp-for="SearchTerm" />
                <div class="input-group-append">
                    <button class="btn">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>

    <hr />

    <div class="d-flex flex-row flex-wrap align-items-center">
        @foreach (var product in Model.Products)
        {
            <div class="col-md-2 col-4">
                <a asp-page="./Details" asp-route-productId="@product.Id">
                    @if(@product.PhotoPath != null)
                    {
                        <img src="@product.PhotoPath" class="img-cover img-nohover img-fluid" alt="@product.Name">
                    }
                    else
                    {
                        <div class="text-center">
                        <h5 class="text-dark">@product.Name</h5>
                        </div>
                    }
                </a>
            </div>
         }
    </div>
</div>