@page
@model Juicer.Pages.IndexModel
@{
    ViewData["Title"] = "Juicer";
}

<div class="container">
    <div class="row">
        <div class="col">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <a asp-page="./Recipes/List">
                            <img src="~/images/citrus-carousel.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h1>Just juice it!</h1>
                                <p>Power up with energy</p>
                            </div>
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a asp-page="./Recipes/List">
                            <img src="~/images/cherry-carousel.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Pick a recipe!</h5>
                                <p>What's your choice today?</p>
                            </div>
                        </a>
</div>
                    <div class="carousel-item">
                        <a asp-page="./Products/List">
                            <img src="~/images/raspberry-carousel.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Choose a product!</h5>
                                <p>I'll show you recipes</p>
                            </div>
                        </a>
</div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <br />

    <h1 class="display-4 text-center">Recent Recipes</h1>
    <hr />

    <div class="row">
        @foreach (var recipe in Model.Recipes)
        {
            <div class="col-md-4">
                <div class="text-center">
                    <a asp-page="Recipes/Details" asp-route-recipeId="@recipe.Id">
                        <img class="rounded-circle img-cover img-nohover"  style="width:50%; height:auto;" src="@recipe.PhotoPath">
                    </a>
                    <h2 class="text-truncate">@recipe.Name</h2>
                    <p class="text-truncate">@recipe.Description</p>
                    <p><a class="btn btn-outline-dark" asp-page="Recipes/Details" asp-route-recipeId="@recipe.Id">View</a></p>
                </div>
            </div>
        }
    </div>
</div>